@import '02_variable.scss';
.container {
  max-width: 80%;
  margin: 0 auto;
  
  .my-profile {
    height: 100vh;
    background-color: aquamarine;

    h1 {
      text-align: center;
    }
    .profile-details {
      display: flex;
      justify-content: center;
      align-items: center;
      
      .profile-details-container {
        display: flex;
        flex-direction: column;
      }

      .btn{
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
