@import '02_variable', '03_mixin';

.register-form {
    max-width: 270px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    .first-last-name {
        display: flex;
        gap: 10px;

        .firstname,
        .lastname {
            width: 125px;
            display: flex;
            flex-direction: column;
        }
    }

    .upload {
        display: flex;
        gap: 10px;

        .profile-picture,
        .cv {
            width: 130px;
            display: flex;
            flex-direction: column;
        }
    }

    button {
        @include buttonRed;
    }

}