@import '02_variable', '03_mixin';

  .my-profile {
    height: 100vh;
    background-color: aquamarine;

    .profile-details {
      display: flex;
      justify-content: center;
      align-items: center;
      
      .profile-details-container {
        display: flex;
        flex-direction: column;
      }

      .btn{
        display: flex;
        justify-content: space-around;
      }
    }
  }

