<%- include('partials/header'); -%>

<header>
  <h1>Dashboard</h1>
  <a href="/newjob">Create a new job</a>
  <p>Filter by :</p>
  <select>
    <option value="">Date</option>
    <option value="">Status</option>
  </select>
  <p>Order</p>
  <select>
    <option value="">Asc.</option>
    <option value="">Desc.</option>
  </select>

  
</header>


<%- include('partials/footer'); -%>