<%- include('partials/header'); -%>

<form>
  <h1>Create job</h1>
  <label for="job-title">Job title</label>
  <input type="text" name="job-title" required/>
  <label for="website">Website</label>
  <input type="text" name="website" required/>
</form>

<h2>Employer’s contact</h2>

<form>
  <label for="name">Name</label>
  <input type="text" name="name" required/>
  <label for="email-of-contact">Email of contact</label>
  <input type="text" name="email-of-contact" required/>
  <label for="phone">Phone</label>
  <input type="text" name="phone" required/> 
  <label for="address">Address</label>
  <input type="text" name="address" required/> 
  <p>Origin</p>
  <select>
    <option value="">Candidature spontanée</option>
    <option value="">Job offer.</option>
  </select>
  <p>Status</p>
  <select>
    <option value="">Interested</option>
    <option value="">CV sent</option>
    <option value="">Negative</option>
    <option value="">Interview</option>
  </select>
  <label for="comments">Comments</label>
  <textarea name="" id="comments" cols="30" rows="10"></textarea>
</form>

<button>Save</button>
<%- include('partials/footer'); -%>